{% extends "::base.html.twig" %} 

{% block body %} 
{{parent () }}
<div class="body-content">
  {% include "MagiseoSiteBundle:Commons:header.html.twig" %}
  <div class="left-side">
    <div class="logo"></div>
    <div class="intro">
      <div class="intro-left">
        <h1 class="niceh">Nous conna&icirc;tre</h1>
        <table class="largetable">
          <tr>
            <td>
              <img src="{{ asset('bundles/magiseosite/images/boivin_j.jpg') }}" alt="Julien Boivin">
              <h4>Julien Boivin</h4>
              26 ans, chef de groupe de l'EIP, responsable p&eacute;dagogique &agrave; la Web@cadémie (&eacute;cole de programmation web pour les jeunes sans le bac), il cumule avec brio ses multiples responsabilit&eacute;s.<br />Apr&egrave;s un stage de 6 mois dans le r&eacute;f&eacute;rencement, o&ugrave; il a eu l'id&eacute;e de MagiSEO, il d&eacute;cide de s'y int&eacute;resser de plus pr&egrave;s lors de l'EIP (projet Master à Epitech).
            </td>
            <td>
              <img src="{{ asset('bundles/magiseosite/images/duclos_o.jpg') }}" alt="Odin Duclos">
              <h4>Odin Duclos</h4>
              26 ans, trois chats, apr&egrave;s de nombreux stages en entreprise dans la conception de sites web, a d&eacute;cid&eacute; de se lancer dans MagiSEO afin de prendre en charge le d&eacute;veloppement du site vitrine et de travailler au cœur de son domaine de comp&eacute;tence: le web et la SEO.<br>
              Il est responsable de la partie communication et s'occupe du design du site vitrine et du site commercial. Il s'occupe &eacute;galement de l'optimisation CSS des produits clients.
            </td>
          </tr>
          <tr>
            <td>
              <img src="{{ asset('bundles/magiseosite/images/meunie_d.jpg') }}" alt="Damien Meunier">
              <h4>Damien Meunier</h4>
              23 ans, community manager, il est en charge de promouvoir le produit via ses supports twitter et facebook. Il a travaill&eacute; sur la structure du site commercial, et sur l'optimisation HTML des produits clients.
            </td>
            <td>
              <img src="{{ asset('bundles/magiseosite/images/saphir.png') }}" alt="Mathieu Agneray">
              <h4>Mathieu Agneray</h4>
              23 ans, futur papa, il travaille depuis 2 ans et demi en tant que chef de projet dans le pole R&amp;D d'une entreprise de r&eacute;f&eacute;rencement naturel. Il est en charge de l'int&eacute;gration Symfony des diff&eacute;rentes parties du projet et d&eacute;veloppe en parall&egrave;le le crawler via URL du site commercial.
            </td>
          </tr>
          <tr>
            <td>
              <img src="{{ asset('bundles/magiseosite/images/marcha_j.jpg') }}" alt="Hugo Marchandier">
              <h4>Hugo la l&eacute;gende</h4>
              23 ans, actuellement aux USA pour continuer ses &eacute;tudes dans le d&eacute;veloppement web, et l'administration syst&egrave;me. Il d&eacute;veloppe la structure des serveurs ma&icirc;tres et esclaves permettant le bon fonctionnement de l'algorithme MagiSEO.
            </td>
            <td>
              <img src="{{ asset('bundles/magiseosite/images/NicolasD.jpg') }}" alt="Nicolas Dauchez">
              <h4>Nicolas Dauchez</h4>
              Etudiant Epitech, 25 ans, a effectu&eacute; un stage dans une entreprise de r&eacute;f&eacute;rencement naturel. Cette exp&eacute;rience l'a motiv&eacute; pour tr&egrave;s vite
              rejoindre l'aventure MagiSEO.
              <br>
              Secr&eacute;taire du projet, il travaille &eacute;galement sur le site web MagiSEO et son portage sur le serveur de production.
            </td>
          </tr>
        </table>
        <div class="notes">Bien s&ucirc;r toute l'&eacute;quipe travaille actuellement d'arrache pied pour vous fournir au plus vite la solution MagiSEO!</div>
      </div>
    </div>
  </div>
  {% include "MagiseoSiteBundle:Commons:menuRight.html.twig" %}
  {% include "MagiseoSiteBundle:Commons:footer.html.twig" %}
</div>
{% endblock %}
